* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.container {
  max-width: 960px;
  margin: auto;
}

.inner-container {
  max-width: 960%;
  margin: 5em auto;
  text-align: center;
}

#search {
  padding: 20px;
  border: none;
  border-bottom: 3px solid #0091EA;
  margin-bottom: 5em;
}

#search:focus {
  outline: none;
}
.mag-glass {
  color: #0091EA;
  display: inline-block;
  font-size: 3em;
}

.albums-container {
  position: fixed;
  height: 100vh;
  width: 300px;
  background :#fff;
  padding: 70px 25px;
  top:0;
  left:-300px;
  transition: left .4s;
  overflow-y:auto;
  box-shadow: 0 0 15px rgba(0,0,0,.4);
}

.albums h4 {
  margin-bottom: 2em;
  cursor: pointer;
}

.albums-close {
  display: inline-block;
  cursor: pointer;
  font-size: 3em;
  position: absolute;
  top:10px;
  right:10px;
}

.artist-container {
  width: 95%;
  margin: 2.5%;
  height:250px;
  background:#fff;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  float: left;
  cursor: pointer;
}

.artist-pic-container {
  overflow:hidden;
  max-height:70%;
}

.artist-pic-container img {
  max-width:100%;
  width:100%;
  transition: all .3s;
}

.artist-pic-container img:hover {
  transform: scale(1.2);
}

/* Mobile first queries */

/* Larger than mobile */
@media (min-width: 400px) {
  .artist-container {
    width: 95%;
    margin: 2.5%;
  }
}

/* Larger than phablet */
@media (min-width: 550px) {
  .artist-container {
    width: 48%;
    margin: 1%;
  }
}

/* Larger than tablet */
@media (min-width: 750px) {
  .artist-container {
    width:31%;
    margin: 1%;
  }
}

/* Larger than desktop */
@media (min-width: 1000px) {
  .artist-container {
    width:22%;
    margin: 1.5%;
  }
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
  .artist-container {
    width:22%;
    margin: 1.5%;
  }
}